@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 48 42% 86%;
    --foreground: 240 4% 16%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 48 42% 86%;
    --popover-foreground: 240 4% 16%;
    --primary: 45 93% 47%;
    --primary-foreground: 240 4% 16%;
    --secondary: 46 26% 80%;
    --secondary-foreground: 240 4% 16%;
    --muted: 46 26% 80%;
    --muted-foreground: 240 4% 16%;
    --accent: 46 26% 80%;
    --accent-foreground: 240 4% 16%;
    --destructive: 356 73% 41%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 45 93% 47%;
    --chart-1: 48 96% 53%;
    --chart-2: 83 78% 55%;
    --chart-3: 188 86% 53%;
    --chart-4: 255 92% 76%;
    --chart-5: 351 95% 71%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
